<p>
    Bonjour,<br>
    Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous :<br>
    <a href="{{ signedUrl }}">&gt; Confirmer mon adresse email</a>.<br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
