<h1>Bonjour ! Veuillez confirmer votre adresse email.</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous : <br>
    <a href="{{ signedUrl }}"></a>.<br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
