{% extends 'base.html.twig' %}
{% block slug %}accueil{% endblock %}
{% block title %}Accueil{% endblock %}

{% block main %}
	<header id="header-home">
		<img src="./img/logo-snowtricks.png" alt="Snowtricks &mdash; Site communautaire dédié au snowboard">
		<h1 class="h1 mt-4">Site communautaire<br>dédié au snowboard</h1>
	</header>

	<div class="section">
		<div class="container">		
			{% include 'tricks/tricks-block.inc.html.twig' %}
		</div>
	</div>
{% endblock %}
