{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

	{% include "tricks/delete-trick-popup.inc.html.twig" %}

	{% if app.flashes|length %}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	{% else %}
		<div class="alert" style="display:none;"></div>
	{% endif %}
	
	<div class="text-lg-start text-center">
		<a href="{{ path('app_new_trick') }}" class="cta cta-new-trick mt-0">
			<i class="fa fa-plus me-3"></i>Nouvelle figure
		</a>
	</div>
	
{% endif %}

{% block tricklist %}
	<ul class="row row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 list-unstyled tricklist list">
		{% include 'tricks/tricklist.inc.html.twig' %}
	</ul>
{% endblock %}

{% if curPage < countPages %}
	<div class="text-center">
		<button class="cta" id="btn-see-more-tricks" data-items-type="figures">+ de figures</button>
	</div>
{% endif %}
