{% extends 'base.html.twig' %}
{% block slug %}figures
{% endblock %}
{% block title %}Figures
{% endblock %}

{% block main %}
	<section>
		<h1 class="h1 mt-4 text-white">Figures</h1>

		<div class="section">
			<div class="container">
				{% include 'tricks/tricks-block.inc.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}
