{% extends 'base.html.twig' %}

{% block slug %}figures{% endblock %}
{% block title %}Figures{% endblock %}
{% block metaDesc %}Découvrez toutes les figures du site.{% endblock %}

{% block main %}
	<section>
		<h1 class="h1 m-0 text-white">Figures</h1>
		<div class="section">
			<div class="container tricks-block">
				{% include 'tricks/tricks-block.inc.html.twig' %}
			</div>
		</div>
	</section>
{% endblock %}
