	<ul class="row row-cols-xl-5 row-cols-lg-3 row-cols-sm-2 row-cols-1 list-unstyled tricklist">
		{% for i in 0..11 %}
			<li class="col">
				<figure class="tricklist__item">
					<img src="./img/unnamed.png" alt="Figure n°X" class="img-fluid">
					<figcaption>
						<a href="tpl-figure">Nom de la figure</a>
						<div class="tricklist__item__actions">
							<a href="#" class="me-2">
								<i class="fa fa-edit"></i>
							</a>
							<a href="#">
								<i class="fa fa-trash-alt"></i>
							</a>
						</div>
					</figcaption>
				</figure>
			</li>
		{% endfor %}
	</ul>
	<div class="text-center">
		<button class="cta">+ de figures</button>
	</div>
